body
{
    margin : 0;
    padding: 0;
}

h1
{
    background-color: rgb(255, 10, 173);
    color: black;
    text-align  : center;
    margin: 0;
    padding: 20px;
}

div
{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

h3
{
    color: black;
}

.azul
{
    color: blue;
}

.negrito
{
    font-weight: bold;
}

.italico
{
    font-style: italic;
}

.sublinhado
{
    text-decoration: solid underline;
}

.destaque
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.cursiva
{
    font-family: 'Lucida Handwriting';
    font-size: 20px;
    color: rgb(240, 21, 200);
}

.fontegoogle
{
    font-family: 'Brygada 1918';font-size: 22px;
}